In [1]:
import pandas as pd
import sklearn

In [2]:
csv_df = pd.read_csv("/Users/Victoria Ihenetu/Downloads/energydata_complete.csv")
csv_df.to_csv("/Users/Victoria Ihenetu/Downloads/energydata_complete.csv")
csv_df.head()
#print(csv_df)

,Unnamed: 0,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
# remove rows with missing values
Energy_data = csv_df
Energy_data.dropna()
print(Energy_data.head())

   Unnamed: 0                 date  Appliances  lights     T1       RH_1  \
0           0  2016-01-11 17:00:00          60      30  19.89  47.596667
1           1  2016-01-11 17:10:00          60      30  19.89  46.693333
2           2  2016-01-11 17:20:00          50      30  19.89  46.300000
3           3  2016-01-11 17:30:00          50      40  19.89  46.066667
4           4  2016-01-11 17:40:00          60      40  19.89  46.333333

     T2       RH_2     T3       RH_3  ...         T9   RH_9     T_out  \
0  19.2  44.790000  19.79  44.730000  ...  17.033333  45.53  6.600000
1  19.2  44.722500  19.79  44.790000  ...  17.066667  45.56  6.483333
2  19.2  44.626667  19.79  44.933333  ...  17.000000  45.50  6.366667
3  19.2  44.590000  19.79  45.000000  ...  17.000000  45.40  6.250000
4  19.2  44.530000  19.79  45.000000  ...  17.000000  45.40  6.133333

   Press_mm_hg  RH_out  Windspeed  Visibility  Tdewpoint        rv1        rv2
0        733.5    92.0   7.000000   63.000000        5.3  13.275433  13.275433
1        733.6    92.0   6.666667   59.166667        5.2  18.606195  18.606195
2        733.7    92.0   6.333333   55.333333        5.1  28.642668  28.642668
3        733.8    92.0   6.000000   51.500000        5.0  45.410389  45.410389
4        733.9    92.0   5.666667   47.666667        4.9  10.084097  10.084097

[5 rows x 30 columns]

In [4]:
import pandas as pd
import seaborn as sns
import matplotlib 
from matplotlib import pyplot as plt
import sklearn
import scipy

In [5]:
#From the dataset, 
#fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) 
#and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(csv_df), df=csv_df.T2)
features_df = normalised_df.drop(csv_df=['T2', 'T6'])
heating_target =  normalised_df['T6']

In [ ]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

scaler = MinMaxScaler()
normalised_df = pd.read_csv(scaler.fit_transform(csv_df))
features_df = normalised_df.drop(csv_df=['T2', 'T6'])
Temp_target =  normalised_df['T6']
x = features_df
y = Temp_target
print(x.shape)
print(y.shape)

In [ ]:
import pandas as pd
from sklearn import preprocessing

x = csv_df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
csv_df = pd.DataFrame(x_scaled)

In [ ]:
from sklearn.model_selection import train_test_split 

x_train, x_test,y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=1)

linear_model = LinearRegression()
#fit the model to the training dataset
linear_model.fit(x_train, y_train)
#obtain predictions
predicted_values = linear_model.predict(x_test)

#MAE
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 3)

In [ ]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(x_train, y_train)                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  

#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df

linear_model_weights = get_weights_df(model, x_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, x_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')
final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights = pd.merge(final_weights, lasso_weights_df, on='Features')